*{
  margin: 0px;
  padding: 0px;
}
.app-container{
  display: flex;
}
.container{
  max-width: 100%;
  padding: 0px;
  margin: 0px;
}
.post-card{
  margin: 9px 15px;
}
.hashtag{
  margin: 0px 3px;
}
.react{
  margin: 10px 0px 0px 0px;
}
.SideBar{
  max-width: 230px;
  max-height: 600px;
}
.create-post
{
  margin: 15px 32px;
  padding: 22px 42px;
  border: 1px solid rgb(179, 169, 169);
  border-radius: 11px;
}
.Welcome{
  margin: 40px ;

}
.spinner{
  margin: 10% ;
  
}